.background{
  background: url('./gettyimages.jpg') no-repeat;
  margin-left: 200px;
  padding: 20px 0;
  margin-right: 300px;
}
.buttoncancel {
  margin-left: 20px;
}
.signupbody {
  /* background: url('./gettyimages.jpg') no-repeat; */
  background-color: rgb(150, 129, 170);
  padding: 200px 0;
  color:green;
}
.heading {
  margin: 30px;
}
.red{
  color: red;
}