.background{
  background-color: rgb(115, 182, 115);
  margin-left: 200px;
  padding: 20px 0;
  margin-right: 300px;
}
.buttoncancel {
  margin-left: 20px;
}
.signupbody {
  background-color: blueviolet;
  padding: 150px 0;
}
.heading {
  margin: 30px;
}
.red{
  color: red;
}