.background{
  background-color: rgb(115, 182, 115);
  margin-left: 200px;
  margin-right: 300px;
 
}
.button1{
  margin: 50px;
  margin-left: 200px;
color: green;
}
.frstname1{
 
  margin-left: 200px;

}
.email1{
  margin-left: 240px;

}
.password1{
  margin-left: 200px;

}
.errorMsg1{
  color: red;
}
.name1{
margin-left: 200px;
margin-top: 50px;
margin-bottom: 50px;
}