 .add{
    color: blue;
    margin-top: 50px;
    margin-bottom: 100px;
}
.ser{
    margin-top: 100px;
    margin-right: 500px;
    color: blue;
}
.cer{
    
    margin-bottom: 800px;
    margin-left: 500px;
     color: blue;
}
body{
    color: rgb(189, 126, 44);
} 