 .add{
    color: blue;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: rgb(118, 146, 118);
}
.ser{
    margin-top: 100px;
    margin-right: 500px;
    color: blue;
}
.new{
    background-color: lightseagreen;
}
.cer{
    
    margin-bottom: 800px;
    margin-left: 500px;
     color: blue;
}
.plan{
    margin-right: 20px;
    background-color: lightseagreen;
}
