/* 
.login{
 margin: 100px;
 color: rgb(11, 14, 11);
 background-color: rgb(177, 121, 38);
 margin-right: 400px;
 margin-left: 150px;
}
.loginhead{
  margin-right: 10px;
  margin-bottom: 50px;
}

.btn{
  margin-left: 300px;
}
.red{
  color: red;
}
.loginform{
margin-left: 200px;

}
.font{
font-size: 2ch ;
} */
.newpass{
  margin-top: 200px;
  
}
.forget{
  background-color: rgb(115, 186, 219);
  height: 600px;
}