.navbackground{
  background-color: rgb(30, 78, 78);
  padding: 10px 0;
}
.navbackground1{
  background-color: rgb(65, 181, 219);
  padding: 10px 0;
}
.abtimg{
margin-top: 40px;
}
.home{
  background-color: rgb(225, 232, 235);
}