.plan{
   
    background-color: lightseagreen;
    margin-left: 600px;
}
.src{
    margin-right: 400px;
}
.cre{
    
    background-color: lightseagreen;
}
/* .name1{
    padding-left:1180px;

} */
/* .name2{
    padding-left:1000px;

}
.name3{
    padding-left:1000px;

}
.name4{
    padding-left:1000px;

} */

.table{
width:100%;
}