#gale{
    margin-right: 100px;
}
.build{
    background-color: lightseagreen;    
}
.color{
    background-color: rgb(149, 174, 175);
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}