.gen{
    margin-left: 800px;
    color: green;
}
.Ins{
 margin-top: 80px;
 color: black;
}
.crop{
    margin-top: 50px;
    color: black;
  
    
}
.sub{
 margin-top: 20px;
 color: black;
 border-radius: 5pc;

}
.heading{
    color: black;
}

.print{
    color: black;
}
/* .heading{
 margin-top: 12px;
} */
.print{
    margin-top: 30px;
}
.background1{
    background-color: skyblue;
    border:solid 1px cornsilk;
  background-position: center;
  background-size: cover;
  height: 700px;
  width: 1300px;
  padding: 0;
  /* margin-top: 70px; */
}

body{
    overflow-x: hidden; 
    overflow-y: hidden; 

}
