.gen{

    margin-left: 800px;
    color: green;
}
.Ins{
 margin-top: 80px;
 color: rgb(27, 143, 216);
}
.crop{
    margin-top: 50px;
    color: rgb(27, 143, 216);
}
.sub{
 margin-top: 20px;
 color: rgb(27, 143, 216);

}
.heading{
    color: rgb(27, 143, 216);
}
.name1{
    margin-bottom: 30px;
    color: rgb(27, 143, 216);
}
.name2{
    margin-bottom: 30px;
    color: rgb(27, 143, 216);
}
.name3{
    margin-bottom: 30px;
    color: rgb(27, 143, 216);
}
.name4{
    color: rgb(27, 143, 216);
}
.name5{
    margin-top: 30px;
    color: rgb(27, 143, 216);
}
.print{
    color: rgb(27, 143, 216);
}
.heading{
 margin-top: 40px;
 margin-bottom: 30px;
}
.print{
    margin-top: 30px;
}
/* .background1{
    background: url('../css/Gen_in.css') no-repeat;
} */