.Form{
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 30px 30px 30px 30px 30px 30px ;
    grid-row-gap: 20px;
    margin-left: 40px;
    }
    .body{
    background-image: url(../image/Rmclogo.jpg);
    }
    button{
    margin-top: 30px;
    
    }